*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

header{
    background:#020617;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-weight:800;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:600;
    transition:0.3s;
}

nav a:hover{
    color:#facc15;
}

.hero{
    height:70vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1523240795612-9a054b0db644') center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    animation:fadeIn 2s ease-in-out;
}

.hero h2{
    font-size:40px;
}

.container{
    padding:80px 10%;
}

.section-title{
    font-size:28px;
    margin-bottom:30px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    transition:0.4s;
    opacity:0;
    transform:translateY(30px);
}

.card.show{
    opacity:1;
    transform:translateY(0);
}

.card:hover{
    transform:scale(1.05);
    background:#334155;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#facc15;
    color:black;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
}

footer{
    background:#020617;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

@keyframes fadeIn{
    from{opacity:0}
    to{opacity:1}
}
